@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700&display=swap');

/* Reset styling, using universal selector */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-color: #2582e7d6;
    --text-color: #555555;
}

html {
    font-size: 11px
}

body {
    font-family: Inter, sans-serif;
    background-color: rgb(27, 27, 28);
    color: rgb(0, 0, 0);
}

/* Common Styles */
a{
    text-decoration: none;
    color: white;
}

img{
    width: 117%;
}
.professional_summary {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color);
    margin-top: 1rem;
}

.title {
    color: var(--primary-color);
    font-weight: 700;
    font-size: 2rem;
    text-transform: uppercase;
}

.item_preTitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 300 ;
}

.item_title {
    font-size: 1.6rem;
    color: rgb(0, 0, 0);
    font-weight: 500;
    margin: 0.8rem 0;
}

.item_subtitle {
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 400 ;
}

/* Container Styles */
/* Layouts */
.container {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    padding: 5rem;
    background: #ffffff;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    border-radius: 22px;
}

.group_1_left, .group_2_right {
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.group_3_bottom {
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    grid-column: 1/-1;
    display: flex;
    flex-direction: row;
    gap: 5rem;
}

.group_3_bottom > div {
    flex: 1;
}

@media only screen and (max-width: 768px) {
    .profile{
        margin-bottom: 0;
    }
    .group_3_bottom {
        flex-direction: column;
    }
}


/* Small devices */
@media only screen and (max-width: 768px) {
    .container {
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 7rem;
    }    
}


/* Profile section styles */
.profile{
    grid-column: 1 / -1;
    margin-bottom: 2rem;
}

.profile_container{
    display: flex;
    gap: 3rem;    
}

.profile_professionalImg{
    max-width: 250px;
}

.profile_name_first_name{
    color: rgb(0, 0, 0);
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    text-transform: uppercase;
    display: block;
    margin-bottom: -0.8rem;
}

.profile_name_last_name{
    color: var(--primary-color);
    font-weight: 550;
    font-size: clamp(2.5rem, 15vw, 7rem);
    text-transform: uppercase;
    display: block;
}

.profile_title{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

/* Links */
.Downloadbtn{
    display: block;
    text-decoration: underline;
    font-size: 1.5rem;
    margin-top: 1rem;
}

.Downloadbtn:hover{
    color: var(--primary-color);
}

@media only screen and (max-width: 768px) {
    .profile_container {
        flex-direction: column;
    }
}

/* Group_1_Left */
.skill_list{
    margin-top: 1rem;
    margin-left: 2rem;
    line-height: 2;
}

/* Ref */
.ref_item {
    margin-top: 2rem;
}
.ref_name {
    font-size: 1.6rem;
    font-weight: 700;
}

/* Education */
.edu_item {
    margin-top: 2rem;
}

/* Certification */
.certification_item {
    margin-top: 2rem;
}

/* Experience */
.exp_item {
    margin-top: 2rem;
}

/* Awards */
.awards_item {
    margin-top: 2rem;
}

/* Interests */
.interest_items {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.interest_item {
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: var(--text-color);
}

.interest_item svg {
    width: 3rem;
}

/* Contact Details */
.contact_det {
    gap: 0.5rem;
    margin-top: 1.5rem;
    font-size: 1.5rem;
    justify-content: flex-start;
}


/* Socials */
.social_items {
    margin-top: 2;
}

.social_item {
    margin-top: 1.5rem;
    font-size: 1.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: flex-start;
    color: var(--text-color);
}

.social_item:hover {
    color: var(--primary-color);
}

.social_item svg {
    width: 2rem;
}

hr {
    grid-column: 1/-1;
    width: 80%;
    margin: 0 auto;
    margin-top: 5rem;
    margin-bottom: 1rem;
    border-top: 2px solid gray;
}
@media only screen and (max-width: 768px) {
    hr {
        margin: 0 auto;
    }
    
}

/* Project Link Buttons */
.btn {
    font-size: 1.5rem;
}

/* About Me Section */
.modal-content {
    background-color: #141414;
}
